.btn{
  font-size:20px;
  font-weight:normal;
  line-height: 40px;
  height: 40px;
  box-sizing:border-box;
  width:100%;
  color:#fff;
  border:none;
  &:active{
    color:#fff;
  }
  &:hover{
    color:#fff;
  }


}
ul{
  list-style: none;
}

.green{
  background:#22c603;
}
.blue{
  background: #2b7ad8;
  &:active{
    background: #91b9e8;
  }
}

.dp-f{
  display: -webkit-flex;
  display: flex;

}
.flex1{
  flex:1;
  -webkit-flex: 1;
}