.btn{
  font-size:20px;
  font-weight:normal;
  line-height: 40px;
  height: 40px;
  box-sizing:border-box;
  width:100%;
  color:#fff;
  border:none;
  &:active{
    color:#fff;
  }
  &:hover{
    color:#fff;
  }


}
ul{
  list-style: none;
}

.green{
  background:#22c603;
}
.blue{
  background: #2b7ad8;
  &:active{
    background: #91b9e8;
  }
  &.disabled{
    background: #2c7cd7;
    opacity: 0.5;
    &:active,&:focus{
      background: #2c7cd7;
      opacity: 0.5;
    }
  }
}
.white-blue{
  background: #f8f8f8;
  color:#2b7ad8;
  border:1px solid #2b7ad8;
  &:active,&:focus{
    background: #f8f8f8;
    border:1px solid #2b7ad8;
    color:#2b7ad8;
  }
}

.dp-f{
  display: -webkit-flex;
  display: flex;

}
.flex1{
  flex:1;
  -webkit-flex: 1;
}
.common_row{
  border-bottom:1px solid #ebebeb;
  height: 44px;
  line-height: 44px;
  padding-left:16px;
  margin-bottom:0;
  position: relative;
  span{
    min-width:80px;
  }
  .content{
    text-align: right;
    margin-right: 22px;
    color:#979595;
    font-size:14px;
    &.active{
      color:#2b7ad8;
      font-size:17px;
    }
  }
  .hot{
    background: url("../image/hot.png") no-repeat;
    background-size:contain ;
    width:43px;
    height:18px;
    position: absolute;
    right: 0;
    top:13px;
  }
  .right{
    background: url("../image/right.png") no-repeat;
    background-size:contain ;
    width:8px;
    height:13px;
    position: absolute;
    right: 10px;
    top:16px;
  }
  .unchecked{
    background: url("../image/uncheck.png") no-repeat;
    background-size:contain ;
    width:22px;
    height:22px;
    position: absolute;
    right: 10px;
    top:10px;
  }
  .checked{
    background: url("../image/check.png") no-repeat;
    background-size:contain ;
    width:22px;
    height:22px;
    position: absolute;
    right: 10px;
    top:10px;
  }
  .input{
    border:none;
    padding: 0;
    height:44px;
    line-height: 44px;
    width:80%;
    &:focus{
      border:none;
    }
  }
}

