@charset "UTF-8";
li span{
  font-size:16px;
  color:#262626;
}

#no{
  margin:8px 0;
  border-top:1px solid #ebebeb;
}
#prefer{
  border-top:1px solid #ebebeb;
}
.next{
  margin:24px 16px;
}

.type-tip{
  text-align: center;
  color:#979595;
  font-size:14px;
  border-bottom: 1px solid #ebebeb;
}
#confirmWrapper .btn{
  margin-right: 9px;
}